.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}
.main .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 22px;
    color: #585858;
}
.main .nav img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.main-container{
    max-width: 900px;
    margin: auto;
}
.main-container .greet{
    margin: 50px 0;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}
.main-container .greet span{
   background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.main-container .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 15px;
    padding: 20px;
    margin-bottom: 40px;
}
.main .card{
   height: 100px;
   padding: 18px;
   background-color: #f0f4f9;
   border-radius: 10px;
   position: relative;
   cursor: pointer;
}
.main .card img{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 35px;
    padding: 5px;
    background-color: white;
    border-radius: 50%;
}
.main .card:hover{
    background-color: #e5e7eb;
}
.main .card p{
    color: #585855;
    font-size: 14px;
    font-weight: 500;
}
.main-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 8px 20px;
}
.main-bottom .search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    padding: 10px 20px;
    border-radius: 50px;
}
.main-bottom .search-box img{
    width: 20px;
    cursor: pointer;
}
.main-bottom .search-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
}
.main-bottom .search-box div{
    display: flex;
    gap: 10px;
}
.main-bottom .bottom-info{
    text-align: center;
    font-size: 13px;
    margin: 15px 0;
    color: #c4c7c5;
}
.result{
    max-height: 70vh;
    padding: 0 5%;
   overflow-y: scroll;
}
.result::-webkit-scrollbar{
    display: none;
}
.result-title{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
}
.result-title img{
    width: 40px;
    border-radius: 50%;
}
.result-data{
    display: flex;
    align-items: start;
    gap: 20px;
    margin: 40px 0;
}
.result-data img{
    width: 40px;
    border-radius: 50%;
}
.result-data p{
    font-size: 17px;
    font-weight: 400;
    line-height: 1.8;
}
.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.loader hr{
    border-radius: 4px;
    border: none;
    background-color: #e5e7eb;
    background: linear-gradient(to right , #9ed7ff , #fff, #9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;
}
@keyframes loader{
    0%{
        background-position: -800px 0;
    }
    100%{
        background-position: 800px 0;
    }
}
.result-data p {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.8;
    white-space: pre-wrap;
}

@media (max-width: 600px) {
    .main-bottom input{
        flex: none;
        width: 150px;
    }
    .main-bottom img{
        width: 20px;
    }
    .search-box{
       padding: 5px 10px;
    }
    .search-box div{
        gap: 5px;
    }
}