.sidebar{
   min-height: 100vh;
   display: inline-flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: #f0f4f9;
   padding: 20px;
}

.sidebar img{
    width: 20px;
}

.sidebar .menu{
    display: block;
    margin-left: 10px;
    cursor: pointer;
}

.sidebar .new-chat{
    margin-top: 40px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 12px ;
    background-color: #e5e7eb;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    color: gray;
}

.sidebar .new-chat img{
    width: 15px;
}

.sidebar .recent{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;
}

.sidebar .recent-title{
    margin-bottom: 20px;
    padding-top: 30px;
}

.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 8px 12px;
    padding-right: 40px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    color: #282828;
    font-weight: 500;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(213, 213, 213, 0.829);
}

.sidebar .recent-entry:hover{
    background-color: #e5e7eb;
}
.sidebar .bottom{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sidebar .bottom-item{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    color: #282828;
    font-weight: 500;
    border: 1px solid rgba(183, 179, 179, 0.829);
}

@media (max-width: 600px) {
    .sidebar{
        display: none;
    }
}